apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: badminton
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: alfredmanurung/badminton-reservation-backend:v2
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: DATABASE_URL
              value: "postgres://postgres:postgres@postgres-svc.badminton.svc.cluster.local:5432/badminton?sslmode=disable"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: badminton
spec:
  selector:
    app: backend
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30081
  type: NodePort
