apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: badminton
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: alfredmanurung/badminton-reservation:frontend
          imagePullPolicy: IfNotPresent
          env:
            - name: NEXT_PUBLIC_API_BASE_URL
              value: "http://backend-svc.badminton.svc.cluster.local:8080"
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: badminton
spec:
  selector:
    app: frontend
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30080
  type: NodePort
